body {
  background: #0b0e14 url('https://www.transparenttextures.com/patterns/stardust.png');
  color: #e5e7eb;
  background-repeat: repeat;
}

.card {
  background: #121621;
  color: #e5e7eb;
}

.navbar {
  margin-bottom: 0.5rem;
}

a, .btn-link {
  text-decoration: none;
}